@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 1000;
  font-style: normal;
  color: rgb(140, 111, 111);
  font-size: 60px;
  text-decoration: underline;
  text-align: center;
}

@font-face {
  font-family:'../minhas_fontes/Bigshot_One/BigshotOne-Regular.ttf';
}

/*dancing script*/


#principal {
  font-family: "Lobster", sans-serif;
  font-weight: 1000;
  font-style: normal;
  color: rgb(208, 18, 18);
  font-size: 80px;
  text-decoration: underline;
  text-align: center;
  
}
 
#principal_2 {
  font-family:'../minhas_fontes/Bigshot_One/BigshotOne-Regular.ttf';
  font-weight: bolder;
  font-style: normal;
  color: rgb(208, 18, 18);
  font-size: 70px;
  text-decoration: underline;
  text-align: center;
}

#principal_3 {
  font-family: '../minhas_fontes/Bebas_Neue/';
  font-weight: bolder;
  font-style: normal;
  color: rgb(208, 18, 18);
  font-size: 70px;
  text-decoration: none;
  text-align: center;
}


 .quadro {
      background-repeat: no-repeat;
     width: 98%;
     height: 600px;
      border: 1px solid black;
      border-radius: 7px;
      padding-bottom: 100px;
     margin: 1%;
    
      
    }

  .quadro_negro {
    width: 97.4%;
    height: 350px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    margin: 1.3%;
  }

.imagens {
  border: 1px solid rgba(0, 0, 0, 0.678);
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
}

.imagens_largas {
   border: 1px solid rgba(0, 0, 0, 0.678);
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
  width: 92%;
  height: 300px;
  margin-right: 4%;
  margin-left: 4%;
  
}


.imagens_paralax {
  margin-top: 20px;
  background-color: gray;
  background-size:cover;
  background-attachment: fixed;
  background-position: 70% center;
  height: 350px;
  border: 2px solid black;
}

#img_guerra_tupinamba {
    background-image: url('../historia_paraense/imagens_historia/tupinambas_lutando_cell_light.webp');
    background-repeat: no-repeat;
   
 }

 #img02 {
    background-image: url('../historia_paraense/imagens_historia/cabanagem_igreja.jpg');
    background-repeat: no-repeat;
   
 }

 .batalha_final {
  background-image: url('../historia_paraense/imagens_historia/batalha_final_light.webp');
  background-repeat: no-repeat;
  background-size: cover;
 }

 

 .img_cabanagem
 {
  background-image: url('../historia_paraense/imagens_historia/cabanagem_noite_light.webp');
  background-repeat: no-repeat;
 background-size: cover;
 
 }

 .imagem_jornal {
  h2 {
    align-items: center;
  }

  p {
    text-align: justify;
  }

  img { 
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.678);
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
  width: 55%;
  height: 300px;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2px;
  }


 }

.divisao {
  background-image: url('../historia_paraense/imagens_historia/divisao_cabana_cell_light.webp');
 
  border-radius: 7px;
 background-size: cover;
}

.ribeiro {
  background-image: url('../historia_paraense/imagens_historia/pexels-ribeirinho_light.webp');
  background-size: cover;
  background-position: center center;
}

.fuga {
  background-image: url('../historia_paraense/imagens_historia/fuga_no_rio_light.webp');
  background-repeat: no-repeat;
  background-size: cover;
}


.botoes {
display: flex;
justify-content: space-between;
margin-top: 50px;
margin-bottom: 20px;
}


.video {
  display: flex;
  background-color: rgba(128, 128, 128, 0.337);
  flex-direction: nowrap;
  margin: 10% 2% 10% 2%;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.video > iframe {
   height: 400px;
   width: 430px;
   flex-shrink: 1;
   flex-grow: 1;
   border-radius: 3px;
}

.arreda_de_cima {
  padding-top: 22px;
}

html,body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

table {
  width: 86%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
} 

caption {
  font-size: 22px;
  font-weight: bold;
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
}

thead  {
  background-color:black;
  color: white;
  border-radius: 3px;
 
}

thead th { 
  padding: 10px;
}

th {
  border: 2px solid black;
  font-size: 16px;
}



h2 {
   font-family: serif;
  color: rgb(8, 10, 73);
  text-align: center;
}

h3 {
  margin-left: 10px ;
}

h4 {
  text-align: center;
  font-size: 20px ;
}

p { 
  text-align: justify;
  text-indent: 20px;
  margin: 0px 8px 5px 8px;
  line-height: 27px;
}

main a { 
  text-decoration: none;
   color: rgb(45, 0, 87);
  text-align: center;

  
  
}

main a:hover {
   text-decoration: underline;
  color: rgb(45, 0, 87);
  font-size: 17px;
}

img {
  margin-left: 10%;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 80%;
  height: 250px;
  display: inline;

}
 
  figure {
    background-color: rgba(128, 128, 128, 0.337);
    border:1px solid gray;
    color: rgb(110, 0, 110);
    display: flex;
    flex-flow: row wrap;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    width: 390px;
    overflow-x: hidden;
   
  }

  figure img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  figure figcaption {
    padding-left: 15px;
    padding-bottom: 15px;
    font-weight: bolder;
  }



main div a {
  color: black;
   text-decoration: none;
}
/*https://www.researchgate.net/publication/318586384_Population_of_the_British_Colonies_in_America_Before_1776_A_Survey_of_Census_Data*/
main .esquerda,.direita,.meio {
 border: 2px solid rgba(0, 0, 0, 0.925);
 background-color: rgb(179, 169, 169);
 border-radius: 4px;
 padding: 3px;
}

footer {
   border: 1px solid purple;
  background-color: purple;
 
}

footer p {
  font-size: 26px;
 text-align: center;
  margin-right: 5%;
  margin-top: 8px;
  margin-bottom: 8px;
}

footer a {
  text-decoration: none;
  color: white;
   display: flex;
  justify-content: center;
  align-items: center;
   margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 2px;

}

footer a:hover {
  color: rgb(20, 63, 255);
  font-size: 20px;
}

footer > div > a {
  padding-top: 10px;
  font-size: 21px;
}

footer > div > a:hover {
   font-size: 23px;
}





